* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #5cdb95;
}
#header{
    flex: 1;
    background-color: #5cdb95;
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
}
h1, h2, #cpu, #player, p {
    color: #05386b;
}
#plays {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    background-color: #5cdb95;

}
#player, #cpu {
    margin: 0rem 5rem;
    text-align: center;
}
#box_cpu, #box_player {
    height: 180px;
    width: 180px;
    border: 5px solid #05386b;
    border-radius: 12px;
    margin-bottom: 2rem;
    background-size: cover;
    background-position: center;
}


#display {
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
}
#Points {
    display: flex;
    justify-content: space-around;
    font-size:x-large;
    font-weight: 800;
    margin-bottom: 2rem;
}


button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 15rem 5rem 15rem;
}

#Rock {
    background-image: url(./images/rock.png);
}

#Paper {
    background-image: url(./images/paper.png);
}

#Scissors {
    background-image: url(./images/scissors.png);
}
#Rock, #Paper, #Scissors {
    width: 180px;
    height: 180px;
    border: 2px solid #05386b;
    border-radius: 10px;
    margin: 10px;
    background-color: #379683;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    margin: 0rem 1rem;
}

#Rock:hover, #Paper:hover, #Scissors:hover {
    border: 2px solid #edf5e1;
    background-color: #45b69f;
    transform: scale(1.1);
}
#Rock:active, #Paper:active, #Scissors:active {
    background-color: #4dc9b0;
    transform: scale(1.1);
}

#footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}