/* Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Rakkas&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f2f1ef;
}
/* Header section */
#header{
    flex: 1;
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: #413f3d;
}
h1 {
    color: #f2f1ef;
    font-family: 'Rakkas', cursive;
    font-size: 3rem;
}
/*Set fonts */

#footerText {
    font-family: 'Open Sans', sans-serif;
}

h2, #cpu, #player, p {
    color: #413f3d;
    font-family: 'Rakkas', cursive;
}
/*Plays section */
#plays {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

}
#player, #cpu {
    margin: 0rem 5rem;
    text-align: center;
}
#box_cpu, #box_player {
    height: 150px;
    width: 150px;
    border: 5px solid #413f3d;
    padding: 22px;
    border-radius: 12px;
    margin-bottom: 12px;
    background-size: cover;
    background-position: center;
}

/*Results section*/
#display {
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
}



button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

/*Selection section*/
#Rock img, #Paper img, #Scissors img {
    position:absolute;
    height: 110px;
    width: auto;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 15rem 5rem 15rem;
}

#Rock, #Paper, #Scissors {
    position: relative;
    height: 150px;
    width: 150px;
    padding: 10px;
    border: 2px solid #413f3d;
    border-radius: 10px;
    margin: 10px;
    background-color: #f2f1ef;
    flex-shrink: 0;
    margin: 0rem 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#Rock:hover, #Paper:hover, #Scissors:hover {
    border: 2px solid #edf5e1;
    background-color: #b1a6a4;
    transform: scale(1.1);
}
#Rock:active, #Paper:active, #Scissors:active {
    background-color: #d8cfd0;
    transform: scale(1.1);
}

/*Footer section*/
#footer {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
#github {
    height: 22px;
    width: auto;
}
#github:hover {
    transform: scale(1.1);
}

/*Modal section*/
.btn-retry {
    border-radius: 5px;
    color: #f2f1ef;
    background-color: #413f3d;
    padding: 10px 20px;
}

.btn-retry:hover {
    background-color: #b1a6a4;
    transform: scale(1.1);
}

.btn-retry:active {
    background-color: #d8cfd0;
    transform: scale(1.1);
}


#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 105%;
    background-color: rgba(0,0,0,0.5);
    color: #413f3d;
    z-index: 10;
}

#overlay.active {
    display: block;
}



#modal {
    position: relative;
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f2f1ef;
    border-radius: 5px;
    text-align: center;
    z-index: 11;
    display: none;
    border: 4px solid #413f3d ;
    padding: 2rem;
}



#endGameMsg {
    font-size: x-large;
    margin-top: 5rem;
    margin-bottom: 3rem;
}



#modal.active {
    display: block;
}

/* Media Querie */

@media (max-width: 550px){
    #player, #cpu {
        margin: 0rem 2rem;
    }
    h1 {
        font-size: 2rem;
    }
    #Rock, #Paper, #Scissors {
        height: 120px;
        width: 120px;
    }
    #Rock img, #Paper img, #Scissors img {
        height: 90px;
        width: auto;
    }
    #modal {
        margin-left: -180px;
    }
}