* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #5cdb95;
}
#header{
    flex: 1;
    background-color: #5cdb95;
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
}
h1, h2, #cpu, #player, p {
    color: #05386b;
}
#plays {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    background-color: #5cdb95;

}
.box {
    height: 180px;
    width: 180px;
    border: 5px solid #05386b;
    border-radius: 12px;
}

#display {
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
}
#Points {
    display: flex;
    justify-content: space-around;
    font-size:x-large;
    font-weight: 800;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }

#Rock {
    width: 180px;
    height: 180px;
    border: 2px solid #05386b;
    border-radius: 10px;
    margin: 10px;
    background-color: #5cdb95;
    background-image: url(./images/rock.png);
    background-size: cover;
    background-position: center;
}

#Paper {
    width: 180px;
    height: 180px;
    border: 2px solid #05386b;
    border-radius: 10px;
    margin: 10px;
    background-color: #5cdb95;
    background-image: url(./images/paper.png);
    background-size: cover;
    background-position: center;
}

#Scissors {
    width: 180px;
    height: 180px;
    border: 2px solid #05386b;
    border-radius: 10px;
    margin: 10px;
    background-color: #5cdb95;
    background-image: url(./images/scissors.png);
    background-size: cover;
    background-position: center;
}

#footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}